<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>product Update</title>
    {% include 'cdnlines.html' %}
  </head>
  <style media="screen">
    input[name]{
      margin-top:10px;
      background-color:lightgreen;
    }
  </style>
  <body class="bg-warning">
    <div class="container">
      <h2 class="text-center display-4 mt-4 font-weight-bold mb-4">Update Products Data Here</h2>
      <div class="row">
        <div class="offset-md-3 col-md-6 shadow-lg bg-danger">
          <form method="POST">
            {% csrf_token %}
            <input type="text" name="pname" class="form-control" placeholder="First Nmae" value="{{product.product_name}}">
            <input type="text" name="pdetails" class="form-control"  placeholder="Last Nmae" value="{{product.product_details}}">
            <input type="number" name="pprice" class="form-control"  placeholder="Course" value="{{product.product_price}}">
            <input type="text" name="plocation" class="form-control"  placeholder="Fee"value="{{product.product_loc}}">
            <center>
              <input type="submit" value="Update" class="btn btn-success my-2 mr-2">
              <input type="reset" value="Clear" class="btn btn-dark my-2">
            </center>
          </form>

        </div>

      </div>

    </div>

  </body>
</html>
